/* STYLE SHEET TO MIMIC LAKA'S BRANDING */


body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80;
    background-color: #F7E7E4;
    font-family: Arial, sans-serif;
    color: #0A373A;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

canvas {
    display: block;
}

.game-title {
    font-size: 4em;
    color: #FF6B6B;
    margin: 40;
    padding: 0;
    text-align: center;
}
